<html>
    <head>
        <titlle>Home Page</titlle>
    </head>
    <body>
    <a href="/Categories">Categories</a>
    <a href="/Customers">Customers</a>
    <a href="/Products">Products</a>
    </body>
</html>