@model RapidBootcamp.WebApplication.Models.Customer


<html>
<head>
    <title>Delete Customer</title>
</head>
<body>
    <h2>Delete Customer</h2>
    <form method="post" action="/Customers/Delete">
        <p>Apakah anda yakin akan mendelete Customer @Model.CustomerName ?</p>
        <input type="hidden" value="@Model.CustomerId" name="CustomerId" />
        <div>
            <input type="submit" value="Delete" />
        </div>
    </form>
</body>
</html>
